{% extends "parts/base.html" %}

{% block title %}form{% endblock title %}

{% block page_content %}
{{ super() }}
<form method="POST" action="{{request.full_path}}">
    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">User name</label>
        <input type="text" name="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock page_content %}
